form {
  background-color: #333;
  padding: 30px 50px;
  border-radius: 5px;
  margin-bottom: 30px;
}
label {
  margin-bottom: 7px;
}
input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
button {
  display: block;
  margin-top: 20px !important;
  border-radius: 5px !important;
  border: none;
  padding: 8px 20px;
}
