.container {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 30px 40px;
}
.container h1.app-title {
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 80px;
  margin-bottom: 30px;
  color: #222;
}

.container h1.app-title::after {
  content: "";
  width: 100%;
  max-width: 1050px;
  height: 1050px;
  position: absolute;
  border-top: 10px solid green;
  top: 60px;
  left: 9%;
  border-radius: 100%;
  transform: rotate(-56deg);
}
